<div class="row">
    <div class="col-md-6">
            <ul class="list-group">
                    <li *ngFor="let m of movies; let i = index" class="list-group-item">
                        <div class="row">
                            <div class="col-md-3">
                                <p *ngIf="!movieIdsBeingEdited[i]">{{ m.title }}</p>
                                <input *ngIf="movieIdsBeingEdited[i]" [(ngModel)]="m.title" class="form" placeholder="title">
                                <input *ngIf="movieIdsBeingEdited[i]" [(ngModel)]="m.description" class="form" placeholder="description">
                                <input *ngIf="movieIdsBeingEdited[i]" [(ngModel)]="m.ImageUrl" class="form" placeholder="ImageUrl">

                            </div>
                            <div class="col-md-6">
                                <button (click)="onDeleteMovie(i)" class="btn btn-danger">X</button>
                                <button *ngIf="!movieIdsBeingEdited[i]" (click)="onStartEditMovie(i)" class="btn btn-warning">Edit</button>
                                <button *ngIf="movieIdsBeingEdited[i]" (click)="onSaveEditMovie(i)" class="btn btn-success">Save</button>
                                <button *ngIf="!movieIdsBeingEdited[i]" class="btn btn-info" (click)="onViewMovieDescription(m)">View</button>
                            </div>
                        </div>       
                    </li>
                </ul>
    </div>
    
    <div class="col-sm-2" *ngIf="movieBeingDisplayed">
        <div class="card" style="width: 18rem;">
                <img src="{{movieBeingDisplayed.imageUrl}}" class="card-img-top" alt="card-top-image">
        
            <div class="card-body">
              <h5 class="card-title">{{movieBeingDisplayed.title}}</h5>
              <p class="card-text">{{movieBeingDisplayed.description}}</p>            
            </div>
        </div>
    </div>


<p class="counter">Your list has: {{movies.length}} Movies</p>



