
.btn{
float:right;
margin: 2px;
}

.btn:hover{
  background-color: white;
  color: black
}
.col-md-6{
    margin-right: 0px 0px 0px 5px;
}
.counter{
    background-color: white;
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    text-align: center;
}
